@model IEnumerable<Web.Models.StatusViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Status</h2>

<a href="~/status/add">Adicionar</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Descrição
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model)
        {
            <tr>
                <td>@s.TaskStatusId</td>
            </tr>
            <tr>
                <td>@s.Description</td>
            </tr>
        }
    </tbody>
</table>